@import "tailwindcss";

button{
    cursor: pointer;
}
.epr_vl50xg{
    display: none;
}
.custom-scrollbar{
    scrollbar-width: none;
}
.custom-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}